body{
    background-image: url("cottonnew.jpg");
}
img[src="CandyShop"]{
    padding-top: 0px;
    margin-top: 0px;

}
img[src="fav"]{
    margin-top: 0px;
    padding-top: 0px;
}
img[src="einkaufswagen"]{
    margin-top: 0px;
    padding-top: 0px;
}
#suchen{
    margin-left: 20px;
    margin-top: 20px;
    width: 75%;
    height: 55px;
    border-radius: 5px;
}
.Container{
    display: flex;
    flex-direction: row;
}