body{
    background-image: url("cottonnew.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

img[src="CandyShop"]{
    padding-top: 0px;
    margin-top: 20px;

}
img[src="herz"]{
    margin-top: 20px;
    padding-top: 0px;
}
img[src="wagen"]{
    margin-top: 20px;
    padding-top: 0px;
}
img[src="menu"]{
    margin-top: 20px;
    padding-top: 0px;
}
#header{
    width: 100%;
    height: 110px;
    background-color: rgb(149, 159, 163);
    box-shadow: 0px 0px 10px rgb(70, 69, 69);
}
#suchen{
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
    height: 110px;
    border-radius: 6px;
}
.Container{
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 20px;
    text-align: center;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
p{
    font-size: 15px;
    color: rgb(37, 37, 37);
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
    text-align: center;
}
li a{
    display: block;
    text-decoration: none;
    visibility: hidden;
}