body{
    background-image: url("cottonnew.jpg");
}
img[src="CandyShop"]{
    padding-top: 0px;

}
form {
    width: 100px;
    height: 20px;  
  padding: 0px;
  padding-top: 0px;
    border: 4px solid rgb(43, 26, 11);
    margin-left: 25% ;
}
input, textarea {
    margin: auto ;
    border: 5px solid rgb(43, 26, 11);
    margin: 4px;
    padding: 4px;
    margin-left: 5%;
}