body {
    background-image: url("bg.png");
}
.halbkreis{
    margin-top: -600px;
    margin-left: 10%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgb(31, 161, 161);
}

.halbkreis h1{
    color: white;
    padding-top: 500px;
    text-align: center;
    font-size: 150px;
    margin-bottom: 0px;
}

.halbkreis p{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}